    // Home Content
    .home {
        .intro {
            h2 {
                padding: 15px;
            }
            p {
                padding: 0 15px;
            }
            @media screen and (max-width: $phone) {
                .header-img {
                    max-width: 100%;
                }
            }
        }
        .space-images {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            img {
                width: 28%;
                margin: 20px 2.5%;
                border-radius: 20px;
                height: 100%;
            }
            @media screen and (max-width: $phone) {
                img {
                    width: 90%;
                    margin: 20px auto;
                }
                .sky,
                .launch {
                    display: none;
                }
            }
        }
        .visit-planets {
            padding: 15px;
            h3 {
                margin-top: 11px;
            }
            p {
                margin-top: 13px;
            }
        }
        .walk {
            margin-top: 60px;
            border-top: 1px solid $main-border-color;
            padding: 50px 60px;
            display: flex;
            justify-content: center;
            order: 1;
            .walk-text {
                width: 50%;
                h3 {
                    margin-bottom: 10px;
                }
                .btn {
                    @include spacebox(10px, 0px 14px 21px -10px rgba(84, 84, 84, 0.24), 1px solid #444, 0);
                    @include spacelinks(1.5em, 900, 10px 50px, none);
                    text-align: center;
                    color: $porcelain;
                    background-color: $btn-bg-color;
                    margin-top: 20px;
                    width: 50%;
                }
            }
            .walk-img {
                width: 46%;
                margin-left: 4%;
                img {
                    width: 100%;
                    height: auto;
                    border-radius: 10px;
                }
            }
            @media screen and (max-width: $phone) {
                flex-direction: column;
                margin-top: 20px;
                border-top: 1px solid $main-border-color;
                padding: 10px;
                display: flex;
                justify-content: center;
                .walk-text,
                .walk-img {
                    width: 100%;
                    margin: 20px auto;
                }
                .walk-text {
                    order: 2
                }
                .walk-text .btn {
                    @include spacebox(0px, 0px 14px 21px -10px rgba(84, 84, 84, 0.24), 1px solid #444, 0);
                    width: 100%;
                }
                .walk-img {
                    order: 1
                }
            }
        }
        #show-hide {
            .form {
                display: none;
            }
        }
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 360px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: center;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
            input {
                font-family: "Bungee", sans-serif;
                outline: 0;
                background: #f2f2f2;
                width: 100%;
                border: 0;
                margin: 0 0 15px;
                padding: 15px;
                box-sizing: border-box;
                font-size: 14px;
            }
            button {
                font-family: "Bungee", sans-serif;
                text-transform: uppercase;
                outline: 0;
                background: $btn-bg-color;
                width: 100%;
                border: 0;
                padding: 15px;
                color: #FFFFFF;
                font-size: 14px;
                -webkit-transition: all 0.3 ease;
                transition: all 0.3 ease;
                cursor: pointer;
                #{&}:Hover {
                    background: $btn-bg-color(lighten($color: #4CAF50, $amount: 20%));
                }
            }
            .message {
                margin: 15px 0 0;
                color: #b3b3b3;
                font-size: 12px;
                a {
                    color: #4CAF50;
                    text-decoration: none;
                }
            }
            .register-form {
                display: none;
            }
        }
    } // home