// Navigation code here
header {
    @media only screen and (max-width: 500px) {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    display: flex;
    flex-direction: row;
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
    h1 {
        width: 100%;
        padding: 20px 0;
        @media only screen and (max-width: 500px) {
            display: inline;
            padding: 20px 0 0 0px;
        }
    }
    nav {
        width: 100%;
        padding: 20px;
        @media only screen and (max-width: 500px) {
            font-size: 12px;
        }
        // background: $testbox;
        ul {
            @media only screen and (max-width: 500px) {
                justify-content: center;
            }
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            li {
                padding-top: 15px;
                a {
                    @include spacelinks(1.6em, 900, 0 15px, none);
                }
            }
        }
    }
}